// The list type will hold a parameters property which
// itself will contain an array with one object.
// This object should contain only 2 fields, 
// 'Required' and 'Type'. No need for name or description.
table.parameters
    thead
        tr
            th Value (#{parameter.parameters[0]['Type']})
    tbody 
        - var paramCount = 0
        - var listFields = parameter.parameters
        tr(class=className)
            td
                a(href='#', onclick='return false', class='list-minimize') Click me
        - each parameter in listFields
            - paramCount++
            div(id='param' + paramCount)
              - if (parameter.Required =='Y')
                  - var required =true
                  - var className ='required'
              - else
                  - var required =false
                  - var className =''
              tr(class=className).list-element
                  td.parameter
                      - if (parameter.Type =='enumerated')
                          select(name='params[' + parameter.Name + ']', placeholder=className)
                            - if (parameter.Default =='')
                                option(value='') 
                            - each choice in parameter.EnumeratedList
                                - if (parameter.Default ==choice)
                                        option(value=choice, selected=true) #{choice}
                                - else
                                        option(value=choice) #{choice}
                      - else if (parameter.Type =='boolean')
                           select(name='params[' + parameter.Name + ']', placeholder=className)
                                - if (parameter.Default =='')
                                        option(value='') 
                                - each choice in [apiInfo.booleanTrueVal,apiInfo.booleanFalseVal]
                                   - if (parameter.Default ==choice)
                                           option(value=choice, selected=true) #{choice}
                                   - else
                                           option(value=choice) #{choice}
                      - else
                          input(name='params[' + parameter.Name + ']', value=parameter.Default, placeholder=className)
