table.parameters
    thead
        tr
            th Parameter
            th Value
            th Type
            th Description
    tbody
        - var paramCount =0
        - each parameter in method.content.parameters
            - paramCount++
            div(id='param' + paramCount)
              - if (parameter.Required =='Y')
                  - var required =true
                  - var className ='required'
              - else
                  - var required =false
                  - var className =''
              tr(class=className)
                  td.name=parameter.Name
                  td.parameter
                      - if (parameter.Type =='enumerated')
                          select(name='params[' + parameter.Name + ']', placeholder=className)
                            - if (parameter.Default =='')
                                option(value='') 
                            - each choice in parameter.EnumeratedList
                                - if (parameter.Default ==choice)
                                        option(value=choice, selected=true) #{choice}
                                - else
                                        option(value=choice) #{choice}
                      - else if (parameter.Type =='boolean')
                           select(name='params[' + parameter.Name + ']', placeholder=className)
                                - if (parameter.Default =='')
                                        option(value='') 
                                - each choice in [apiInfo.booleanTrueVal,apiInfo.booleanFalseVal]
                                   - if (parameter.Default ==choice)
                                           option(value=choice, selected=true) #{choice}
                                   - else
                                           option(value=choice) #{choice}
                      - else if (parameter.Type =='collection')
                          - if (parameter.parameters != undefined)
                              - if (parameter.parameters.length > 0)
                                include content_collection  

                      - else
                          input(name='params[' + parameter.Name + ']', value=parameter.Default, placeholder=className)
                  td.type=parameter.Type
                  td.description
                      p=parameter.Description || 'No description'
                      - if (parameter.Type =='enumerated' && parameter.EnumeratedDescription)
                          dl.clearfix
                              - each description, choice in parameter.EnumeratedDescription
                                  dt #{choice}
                                  dd #{description}
